# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CMakeLists.txt
.idea/Algorithms.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-732e7eac0b3519ea10b8.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-fdefa877536903a4dfdc.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0106096c071bee900e4d.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-17T09-14-56-0894.json
cmake-build-debug/.cmake/api/v1/reply/target-Algorithms-Debug-ecbf3f5b0c496005cfc8.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d1580d8dedb7254dba66.json
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/reply/target-Algorithms-Debug-18c1d44a686fb01de2da.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-17T09-27-52-0745.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a127aec09afd966ecc48.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b97dbd75104c08016a00.json
.DS_Store
*.json
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
.idea/workspace.xml
